<h1>Info about Restaurant</h1>

<p> Name: <%= @restaurant.name %> </p>
<p> Category: <%= @restaurant.category %> </p>
<p> Phone Number: <%= @restaurant.phone_number %> </p>
<p> Phone Number: <%= @restaurant.address %> </p>

<p><%= link_to 'Edit this Restaurant', edit_restaurant_path(@restaurant) %></p>

<p>
  <%= link_to 'Remove this Restaurant', restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>
</p>
<p><%= link_to 'Back To Restaurants List', restaurants_path %></p>
